      <div id="StatsPieChartsHolder" class="floater lightShadow">
                    <h1 class="MostProminentText">API Stats</h1>
                    <div class="lefter" id="ActiveUsersChart"><br />No Data<br /></div>
                    <div class="lefter" id="HitsChart"><br />No Data<br /></div>
                </div>
                <div class="floater lightShadow stats" id="stats_total">
                    <span id="TotalCustomers"></span><br />
                    Customers
                </div>  
                <div class="floater lightShadow stats" id="stats_total">
                   
                    <span id="TotalHits">{{hitsCount}}</span><br />
                Total Hits
                </div>
                <div class="floater lightShadow stats" id="stats_Success">
                    <span id="SuccessfulHits"></span><br />
                    Success
                </div>
                <div class="floater lightShadow stats" id="stats_Failed">
                    <span id="FailedHits"></span><br />
                    Failed
                </div>