#LeftHolder {
    width: 20%;
    padding: 2%;
    float: left;
}
#RightWorkPane {
    width: 70%;
    float: left;
    padding: 2%;
}
.mainContentHolder{
        background: #9bfaf1;
        overflow: hidden;
}