  <div id="LeftHolder">
            <div class="QuickLinks floater">
                <h1 class="floaterHeader">Quick Links</h1>

                <ul class="paddHrzntl10 FloaterLinks">
                    <li>
                        <a href="#" class="LeftLinks">Search By Name</a>
                    </li>
                    <li>
                        <a href="#" class="LeftLinks">Show all customers</a>
                    </li>
                    <li>
                        <a href="#" class="LeftLinks">Show last 100 calls</a>
                    </li>
                </ul>

            </div>
        </div>