
footer {
    padding: 20px 5%;
    background: rgb(66, 165, 245);
    clear: both;
    overflow:hidden;
}
.VersionInfo{
    float: right;
    color: #fff;
    margin-top: 5px;
}
#LogoHolder {
    
    margin-left: 4%;
    max-width: 10%;
    border:1px solid black;
    font-size: 1.5em;
    float:left;
    overflow: hidden;
}